{% extends 'main.html' %}

{% block title %}Сбросьте свой пароль{% endblock %}

{% block content %}
    <h1>Сбросьте свой пароль</h1>

    {% if validlink %}
        <p>Пожалуйста, дважды введите свой новый пароль:</p>
        <form action="." method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <p><input type="submit" value="Change my password" /></p>
    </form>
    {% else %}
        <p>Ссылка на сброс пароля была недействительной, возможно, потому, что она уже был использован. Пожалуйста, запросите новый сброс пароля.</p>
    {% endif %}
{% endblock %}